.calc-main{
	background-color: #404D5E;
	margin: 50px;
	width: 330px;
	height: auto;
	margin: 100px auto;			/* horizontally centreing an element */
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 8px 50px -7px black;
}

.calc-header{
	background-color: #d1e0e0;
	width: 300px;
	height: 60px;
	border-radius: 20px;
	margin: 0 auto;	
	font-size: xx-large;
	color: #000000;
	text-align: center;

}

table{
	text-align: center;
	width: 280px;
	background-color:#404D5E;
	margin: auto;
	margin-top: 20px;
	/* margin-right: 10px;
	margin-left: 10px; */
	border-radius: 20px;
	
}

td{
	color: white;
	width: 40px;
	height: 50px;
	text-align: center;
	/* font-size: xx-large; */
	/* border: 1px solid red; */
	border-radius: 20px;
	background:#475466;
	font-size: 25px;
    transition: all 0.2s ease-in-out;

}

.orange{
	color: #AEB3BA;
	background-color: #04469c;
}

td:hover{
	background: #E0B612;
    color: #fff;
}
