.body{

    margin: 0;
    padding: 0;
    font-family: "arial, serif";
}

    .nav {

        background-color: white;
        color: black;
        list-style: none;
        text-align: right;
        padding: 20px 0 20px 0;
        
    }

.nav li {
display: inline-block;
padding: 0 25px 0 25px;


}
.nav li a {

    text-decoration: none;
    color: black;

}

.nav li a:hover {

    color: burlywood; 

}

.logo {

    float: left;
    padding-left: 25px;
}


* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

/* Another content section */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn {
  padding: .5rem 1rem;
  background: lightgray;
  color: black;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-decoration: none;
}
.btn:hover {
color: burlywood !important;
background: lightgray;

}

.content {
  width: 90%;
  margin: 30px auto 30px;
}

.content .main-content {
width: 70%;
float: left;
}

.content .main-content .post {
  width: 95%;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  background: lightyellow;
  position: relative;
}

.content .main-content .post .read-more {
  position: absolute;
  bottom: 10px;
  border: 1px solid burlywood;
  background: transparent;
  border-radius: 0px;
  color: black !important;
}

.content .main-content .post .read-more:hover {
  background: burlywood;
  color: black !important;
  transition: .25s;
}

.content .main-content .post .post-image {
  width: 40%;
  height: 100%;
  float: left;
}

.content .main-content .post .post-preview {
  width: 60%;
  padding: 15px;
  float: right;
}

.content .main-content .recent-post-title {
margin: 20px;

}

.content .sidebar {
width: 30%;
float: left;
border: 1px dashed green;
height: 300px;
}












 /* Responsive columns */
  @media only screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  